###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Docker
.env.docker
docker-compose.override.yml

# IDE
/.idea/
/.vscode/
*.swp
.DS_Store
Thumbs.db
