{#
  Partial: _feature-grid.html.twig
  Verwendung: {% include 'projects/_partials/_feature-grid.html.twig' with { features: [...] } %}

  features[] = { icon: 'fas fa-...', title: string, desc: string }
#}
<div class="feature-grid">
    {% for f in features %}
        <div class="feature-card animate-on-scroll stagger-{{ loop.index }}">
            <div class="feature-card-icon">
                <i class="{{ f.icon }}"></i>
            </div>
            <h3 class="feature-card-title">{{ f.title }}</h3>
            <p class="feature-card-desc">{{ f.desc }}</p>
        </div>
    {% endfor %}
</div>
